.static {
  cursor: not-allowed;
}
.draggable {
  cursor: move;
}

.output {
  font: 1 px monospace;
}

.dx {
  fill: #333300;
}

.dy {
  fill: #ffff00;
}

.dt {
  fill: violet;
}





/*Make columns*/
.column {
  float: left;
  width: 50%;
  max-width: 500px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* MAZE STYLING */
.mazewall {
  fill: #007bff;
}
.mazeempty {
  fill: #eee;
}

.zone {
  stroke-width: .3px;
  stroke: #007bff;

}

.zone-A {
  fill: #aaffaacc;
}

.zone-B {
  fill: #aaaaffcc;
}

.zone-C {
  fill: #ffaaaacc;
}
