<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252">

    <script type="text/javascript" src="../static/js/virtualrig.js"> </script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>


  <body>
    <div class="row">
      <div class="column">

    <svg id="virtualrig" xmlns="http://www.w3.org/2000/svg" viewBox="-1.5 -1.5 3 3" onload="makeDraggable(evt)" style="background: #bababa;">



      <g name="boundry" fill="#ff0099">
        <circle  cx="0" cy="-.6" r=".6"></circle>
        <circle  cx="0" cy="0" r=".6"></circle>
        <rect  x="-.6" y="-0.6" width="1.2" height=".6"></rect>
      </g>

      <!-- Todo: Replace with matrix transformation
      -->
      <g id="maze_translate" transform="translate(0 0)">
        <g id="maze_rotate" transform="rotate(0 0 0)">
          <rect name="maze" x="0" y="0" width=".1" height=".1" fill="#007bff" class="draggable"></rect>
        </g>
      </g>



      <text id="rotout" x="18" y="5"></text>
    </svg>
    </div>
    <div class="column">
    <svg id="outmapping" xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 2 2" onchange="" style="background: #a0a0a0;">
      <!-- Todo make these values inherit the maze properties-->
      <text id="transx" x="0" y="0" style="font:.1px monospace;">000</text>
      <text id="transy" x="0" y=".11" style="font:.1px monospace;">000</text>
      <text id="theta" x="0" y=".22" style="font:.1px monospace;">000</text>
    </svg>
    </div>
  </div>



</body></html>
